html{
    box-sizing: border-box; 
}

*, *:before, *:after{
    box-sizing: inherit;  
}

body{
    background-color: #2C2141;
}

.card{
    width: 624px;
    height: 320px;
    background-color: #F8F8F8;
    border-radius: 16px;
}

.person{

}

.person__photo{
    border-radius: 74px; 
    height: 148px;
    width: 148px; 
}

.person__name{

}

.person__title{


}

.person__info{


}

.person__link{


}