html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #2C2141;
    min-height: 100vh;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    max-width: 624px;
    width: 100%;
    background-color: #F8F8F8;
    border-radius: 16px;
    padding: 32px;
}

.person {
    display: flex;
    align-content: flex-start;
}

.person__content {}

.person__photo {
    border-radius: 82px;
    height: 162px;
    width: 162px;
    margin-right: 32px; 
}

.person__name {
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-weight: normal;
}

.person__title {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: normal;
    color: #545454;
}

.person__info {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.person__link {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#E20613; 
    text-decoration: none; 

}

.person__special {
    color: #ED6D05;
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
}

